##Numbers

In [ ]:
1+3

4

In [1]:
print(7+8)

15

In [4]:
a=78
print(a)

78

In [ ]:
print("Hellow World")

##Variable assignment

In [9]:
name="Rishabh"
college="SLRTCE"

In [10]:
name

'Rishabh'

In [11]:
print(name)

Rishabh

In [12]:
college

'SLRTCE'

In [13]:
print(college)

SLRTCE

In [14]:
name="bala"

In [15]:
name

'bala'

In [16]:
type(name)

str

In [18]:
type(college)

str

In [19]:
number=20

In [20]:
number

20

In [21]:
type(number)

int

In [22]:
decimal_num=6.9

In [23]:
decimal_num

6.9

In [24]:
type(decimal_num)

float

In [25]:
a=1+2j

In [26]:
a

(1+2j)

In [27]:
type(a)

complex

In [28]:
##dont start the variable name with number

number1=20

In [30]:
##variables are case sensitive
company1="ineuron"
company="pw skills"
print(company1)
print(company)

ineuron
pw skills

In [32]:
True

True

In [33]:
False

False

In [34]:
type(True)

bool

In [35]:
bool(0)

False

In [36]:
bool(1)

True

In [38]:
a=1
if bool(a)==True:
    print("True")

True

In [39]:
int('23')

23

###dynamic typing

In [40]:
##concatenation
"1" + "1"

'11'

In [41]:
"1"*100

'1111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111'

In [42]:
int("1")+int("1")

2

#Day 2:

In [4]:
##different print statement
age=20
print("My age is:",age)

My age is: 20

In [8]:
print(f"My age is: {age}")

My age is: 20

In [2]:
print("My age is: {age}") ##reads completely as string

My age is: {age}

In [3]:
##format()
name= "Rishabh"
age=20
print("My name is {} and age is {}".format(name,age))

My name is Rishabh and age is 20

In [6]:
##place holder
print("My name is {firstname} and age is {firstage}".format(firstname=name,firstage=age))

My name is Rishabh and age is 20

In [9]:
name="Anya Singh"
age="20"
degree="BMS"
     ###output format=== "My age 20 and i have completed: my degree of BMS with the name of Anya Singh"""
print("My age is {} and i have completed: my degree of {} with the name of {}".format(age,degree,name))

My age is 20 and i have completed: my degree of BMS with the name of Anya Singh

In [11]:
print(f"My age is {age} and i have completed: my degree of {degree} with the name of {name}")

My age is 20 and i have completed: my degree of BMS with the name of Anya Singh

In [13]:
a=575
a

575

In [15]:
##if statements
age=18
if age>=18:  ##colon indicates start of if block
    print("You can vote")

You can vote

In [16]:
input()

 Rishabh Singh

'Rishabh Singh'

In [17]:
name=input("Enter the name")

Enter the name Anya Singh

In [18]:
name

'Anya Singh'

In [19]:
##importance of type casting in (input) function

age=int(input("Enter Your age"))

Enter Your age 20

In [20]:
age

20

In [21]:
type(age)

int

In [ ]:
##task 1:
## take a input of age
## check weather age is >=18 and age<=45
## display you are Young

In [29]:
age=int(input("Enter your age"))
if age>=18 and age<=45:
    print("You are ayoung")

Enter your age 30

You are ayoung

In [ ]:
##if else:
age=int(input("Enter your age"))
if age>=18 and age<=45:
    print("You are ayoung")
else:
    print("Thanku, we ll  let you know")

Enter your age 67

Thanku, we ll  let you know

In [ ]:
## mall ---input product price
## prodct > 1000rs 20% off
#  print the actuall price after discount
## prodct <= 1000rs 30% off
# print the actuall price after discount

In [35]:
product_price=int(input("Enter the product price"))
if product_price>1000:
    print("The price after discout is {}".format(product_price*0.8))
else:
    print("The product price is: {}".format(product_price*0.7))

Enter the product price 5000

The price after discout is 4000.0

In [ ]:
## mall ---input product price
## prodct > 3000rs 20% off
#  print the actuall price after discount
## prodct >= 2000rs and <=3000, 30% off
# print the actuall price after discount
##product < 2000;

In [4]:
product_price=int(input("Enter the product price"))
if product_price>3000:
    print("The price after discout is {}".format(product_price*0.8))
elif product_price>=2000 and product_price<=3000:
    if product_price==2999: ##nested if
        print("congrats u get an additional gift")
    print("The product price is: {}".format(product_price*0.7))
else:
    print("The product price is: {}".format(product_price*0.6))

Enter the product price 4000

The price after discout is 3200.0

In [ ]:
#single statement 
val=int(input("Enter a number"))
if (val<=999):print("value is less than equall to 999")
else:
    print("go home")

##loops statement
1. while loops
2. for loop
3. nested loops
4. loops control(break,continue,pass)

In [12]:
#while loops
joining_age=22

while joining_age<=60:
    joining_age=joining_age+1
    print(joining_age)
else:
    print("sorry its time to retire")

23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
sorry its time to retire

In [13]:
#while loops
joining_age=22

while joining_age<=60:
    print(joining_age)
    joining_age=joining_age+1
    
else:
    print("sorry its time to retire")

22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
sorry its time to retire

In [16]:
##atm machine with 1000rs
money=1000
while money!=0:
    print(money)
    money=money-100
else:
    print("Paisa bharo garibo")

1000
900
800
700
600
500
400
300
200
100
Paisa bharo garibo

#For loops

In [18]:
lst=["krish", "apple", 23, 22, "banana"] ##indexing starts from o..

In [19]:
type(lst)

list

In [20]:
print(lst)

['krish', 'apple', 23, 22, 'banana']

In [22]:
lst[3]

22

In [ ]:
for i in lst: ##x will traverse throughout the list 
    print(i)

krish
apple
23
22
banana

In [26]:
fruits=["mango", "banana", "papaya", "Cherry"]

In [27]:
for x in fruits:
    print(x)

mango
banana
papaya
Cherry

In [29]:
for x in fruits:
    print(x)
    if x=="Cherry":
        print("Its delicious")

mango
banana
papaya
Cherry
Its delicious

In [33]:
name= "Rishabh"
for a in name:
    print(a,end='  ')

R  i  s  h  a  b  h

In [ ]:
name[2]

In [ ]:
#nested loops
n=7

In [13]:
##range
for i in range(0,6):
    print(i)

0
1
2
3
4
5

In [14]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [21]:
##nested loops
n=7
for i in range (0,n):
    for j in range(0,i+1):
        print("*",end="")
    print("\r") ##next line and left most side

*
**
***
****
*****
******
*******

In [24]:
##loops controls
#break and continue

fruits_list=["mango", "banana", "papaya", "Cherry"]
for i in fruits_list:
    if i=="mango":
        print("The fruit is apple")
        
    print(i)

The fruit is apple
mango
banana
papaya
Cherry

In [25]:
fruits_list=["mango", "banana", "papaya", "Cherry"]
for i in fruits_list:
    if i=="banana":
        print("The fruit is yummy")
        break ##execution breaks after this statement gets true
    print(i)

mango
The fruit is yummy

In [28]:
fruits_list=["mango", "banana", "papaya", "Cherry"]
for i in fruits_list:
    if i=="papaya":
        print("The fruit is papaya")
        continue
        
    print(i)

mango
banana
The fruit is papaya
Cherry