In [4]:
import pandas as pd
course_name = ["Data Science", "Machine Learning", "Big data", "Data Engineer"]
duration = [2,3,6,4]
data={"coursename":course_name,"durat_ion":duration}
df = pd.DataFrame(data)

In [5]:
df

         coursename  durat_ion
0      Data Science          2
1  Machine Learning          3
2          Big data          6
3     Data Engineer          4

# Q1. Write a code to print the data present in the second row of the dataframe, df.

In [9]:
list(df.iloc[1])

['Machine Learning', 3]

# Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

"""
In pandas, loc and iloc are both used to select rows and columns from a DataFrame. The main difference between the two functions is the way they handle indexing.

loc is label-based indexing, which means that you can select rows and columns using their labels (i.e., row and column names). For example, df.loc[1, 'col2'] will select the value in row 1 and column 'col2'.

iloc is integer-based indexing, which means that you can select rows and columns using their integer positions (i.e., row and column numbers). For example, df.iloc[1, 1] will select the value in the second row and second column (since indexing starts at 0).

In summary, the main difference between loc and iloc is that loc uses labels for indexing while iloc uses integer positions. It is important to note that both functions can be used for both row and column selection, and they can also be used together to select both rows and columns simultaneously.
"""

# Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df then find the output for both new_df.loc[2] and new_df.iloc[2].

In [10]:
df

         coursename  durat_ion
0      Data Science          2
1  Machine Learning          3
2          Big data          6
3     Data Engineer          4

In [12]:
new_df1=df.reindex([3,0,1,2])

In [13]:
new_df1

         coursename  durat_ion
3     Data Engineer          4
0      Data Science          2
1  Machine Learning          3
2          Big data          6

In [15]:
list(new_df1.loc[2])

['Big data', 6]

In [16]:
list(new_df1.iloc[2])

['Machine Learning', 3]

# Did you observe any difference in both the outputs? If so then explain it.

## Yes, iloc fetches inbult indexes of data frame as in df, but loc gives the user difined indixes the more preference

In [18]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [19]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.076693  0.688066  0.943726  0.980608  0.935136  0.183639
2  0.100972  0.775907  0.876174  0.802049  0.583011  0.302676
3  0.563771  0.760610  0.261863  0.384418  0.002137  0.268707
4  0.638982  0.456130  0.479737  0.108205  0.392723  0.553814
5  0.717781  0.007910  0.731752  0.151994  0.048712  0.780784
6  0.246216  0.779588  0.401325  0.334424  0.836735  0.362457

# Q4. Write a code to find the following statistical measurements for the above dataframe df1:
# (i) mean of each and every column present in the dataframe.
# (ii) standard deviation of column, ‘column_2’

In [25]:
df1["column_1"].mean()

0.3907357729440428

In [26]:
df1["column_2"].mean()

0.5780351941382901

In [27]:
df1["column_3"].mean()

0.6157628739613155

In [29]:
df1["column_4"].mean()

0.46028308612174834

In [30]:
df1["column_5"].mean()

0.46640879486114756

In [31]:
df1["column_6"].mean()

0.4086795135330066

In [37]:
## standard daviation
df1["column_2"].std()

0.30499892812138235

# Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the mean of column, column_2.

In [53]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

#

In [54]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.524681  0.582696  0.520926  0.666280  0.202193  0.017098
2  0.103170  0.082210  0.885802  0.446517  0.132416  0.008962
3  0.480816  0.548136  0.747656  0.647152  0.855274  0.829770
4  0.825649  0.847297  0.961586  0.429235  0.922410  0.043729
5  0.680028  0.086659  0.335072  0.241048  0.051834  0.894663
6  0.095420  0.707567  0.257584  0.172290  0.332834  0.136858

In [55]:
df1.loc[2, "column_2"]="some string"

In [56]:
df1

   column_1     column_2  column_3  column_4  column_5  column_6
1  0.524681     0.582696  0.520926  0.666280  0.202193  0.017098
2  0.103170  some string  0.885802  0.446517  0.132416  0.008962
3  0.480816     0.548136  0.747656  0.647152  0.855274  0.829770
4  0.825649     0.847297  0.961586  0.429235  0.922410  0.043729
5  0.680028     0.086659  0.335072  0.241048  0.051834  0.894663
6  0.095420     0.707567  0.257584  0.172290  0.332834  0.136858

In [63]:
df1['column_2'] = pd.to_numeric(df1['column_2'])
df1["column_2"].mean()

0.5544712614622637

# Q6. What do you understand about the windows function in pandas and list the types of windows functions?

"""
Pandas provides several types of window functions that can be used with the rolling() method of a dataframe or series object. The most common types of window functions include:

Rolling window functions: These functions compute a rolling or sliding statistic over a fixed-size window of observations. Examples include rolling().mean() to compute the rolling mean, rolling().sum() to compute the rolling sum, and rolling().std() to compute the rolling standard deviation.

Expanding window functions: These functions compute a statistic over an expanding window of observations, where the window size grows with the size of the data. Examples include expanding().mean() to compute the expanding mean and expanding().sum() to compute the expanding sum.

Exponentially weighted window functions: These functions compute a weighted moving average of the data, where more recent observations are given more weight than older observations. Examples include ewm().mean() to compute the exponentially weighted mean and ewm().std() to compute the exponentially weighted standard deviation.

Rolling window aggregation functions: These functions compute an aggregated statistic over a fixed-size rolling window of observations, but return a single value rather than a rolling window of statistics. Examples include rolling().max() to compute the maximum value over a rolling window and rolling().min() to compute the minimum value over a rolling window.

Rolling window apply functions: These functions apply a custom function to a rolling window of data. Examples include rolling().apply() to apply a custom function to a rolling window of data.

By using these window functions in Pandas, you can gain insight into trends and patterns in your data that might not be immediately apparent from a simple summary statistic.



"""

# Q7. Write a code to print only the current month and year at the time of answering this question.

In [66]:
from datetime import datetime

# get the current date and time
now = datetime.now()

# extract the current month and year from the datetime object
current_month = now.strftime("%B")
current_year = now.strftime("%Y")

# print the current month and year
print("Current month:", current_month)
print("Current year:", current_year)

Current month: March
Current year: 2023

In [68]:
import pandas as pd

# get the current timestamp as a Pandas timestamp object
now = pd.Timestamp.now()

# extract the current month and year
current_month = now.month
current_year = now.year

# print the current month and year
print("Current month:", current_month)
print("Current year:", current_year)

Current month: 3
Current year: 2023

# Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and calculates the difference between them in days, hours, and minutes using Pandas time delta. The program should prompt the user to enter the dates and display the result.

In [73]:
import pandas as pd

# prompt the user to enter the first date
date1_str = input("Enter the first date (YYYY-MM-DD): ")

# prompt the user to enter the second date
date2_str = input("Enter the second date (YYYY-MM-DD): ")

# convert the input strings to Pandas timestamp objects
date1 = pd.Timestamp(date1_str)
date2 = pd.Timestamp(date2_str)

# calculate the time difference between the two dates
time_diff = date2 - date1

# extract the number of days, hours, and minutes from the time difference
days = time_diff.days
hours = time_diff.seconds
minutes = (time_diff.seconds % 3600)

# display the result
print("Time difference: {} days, {} hours, {} minutes".format(days, hours, minutes))

Enter the first date (YYYY-MM-DD): 23-12-2003
Enter the second date (YYYY-MM-DD): 23-12-2022
Time difference: 6940 days, 0 hours, 0 minutes