# Q1. What is a database? Differentiate between SQL and NoSQL databases.

## A database is an organized collection of structured information, or data, typically stored electronically in a computer system. A database is usually controlled by a database management system (DBMS).

## SQL(structured query language):
## RELATIONAL DATABASE MANAGEMENT SYSTEM (RDBMS)
## These databases have fixed or static or predefined schema
## These databases are not suited for hierarchical data storage.
## These databases are best suited for complex queries
## Vertically Scalable
## Examples: MySQL, PostgreSQL, Oracle, MS-SQL Server, etc

## NoSQL(not only structured query language)
## Non-relational or distributed database system.
## They have dynamic schema
## These databases are best suited for hierarchical data storage.
## These databases are not so good for complex queries
## Horizontally scalable
## Examples: MongoDB, GraphQL, HBase, Neo4j, Cassandra, etc

# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

## Data definition language (DDL) describes the portion of SQL that creates, alters, and deletes database objects. These database objects include schemas, tables, views, sequences, catalogs, indexes, variables, masks, permissions, and aliases. Creating a schema.

## CREATE TABLE:
## The CREATE TABLE command creates a new table in the database.

## The following SQL creates a table called "Persons" that contains five columns: PersonID, LastName, FirstName, Address, and City:

"""CREATE TABLE Persons (
    PersonID int,
    LastName varchar(255),
    FirstName varchar(255),
    Address varchar(255),
    City varchar(255)
);
"""

## ALTER TABLE:
## The ALTER TABLE command adds, deletes, or modifies columns in a table.
## The ALTER TABLE command also adds and deletes various constraints in a table.
## The following SQL adds an "Email" column to the "Customers" table:

"""ALTER TABLE Customers
ADD Email varchar(255);"""

## DROP TABLE:
## The DROP TABLE command deletes a table in the database.

## The following SQL deletes the table "Shippers":

## example: DROP TABLE Shippers;

## TRUNCATE TABLE:
## The TRUNCATE TABLE command deletes the data inside a table, but not the table itself.

## The following SQL truncates the table "Categories":

## example:
## TRUNCATE TABLE Categories;

# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

## DML is Data Manipulation Language which is used to manipulate data itself. For example: insert, update, delete are instructions in SQL. It stands for Data Definition Language.

## INSERT commands in SQL are used to insert data records or rows in a database table. In an INSERT statement, we specify both the column_names for which the entry has to be made along with the data value that has to be inserted. The basic syntax for writing INSERT statements in SQL is as follows :

""" INSERT INTO table_name (column_name_1, column_name_2, column_name_3, ...)
VALUES (value1, value2, value3, ...)"""

## UPDATE:

## Updates existing column values. In this case, column1 will change to new_value from old_value.

"""UPDATE table1
SET column1 = 'new_value'
WHERE column1 = 'old_value'

If we do not put WHERE clause it will change all the rows in the table and not just specific ones.

UPDATE table1
SET column1 = 'new_value'

We can also update more columns at once

UPDATE table1
SET column1 = 1,
column2 = 2
"""

## Delete:
## Deleting should not be confused with TRUNCATE. DELETE just deletes the values of rows and nothing else
"""If we want to delete all rows from table

DELETE FROM table_name

If we want to delete specific rows we use WHERE

DELETE FROM table_name
WHERE some_column='some_value'

When deleting rows from the table we should pay special attention to referential integrity between foreign keys and reference tables!
"""

# Q4. What is SQL? Explain SELECT with an example.

## The SQL SELECT Statement
## The SELECT statement is used to select data from a database.

## The data returned is stored in a result table, called the result-set.

## SELECT Syntax:

"""SELECT column1, column2, ...
FROM table_name;
"""

# Q5. Explain Primary Key and Foreign Key.

### Primary Key: A primary key is used to ensure that data in the specific column is unique. A column cannot have NULL values. It is either an existing table column or a column that is specifically generated by the database according to a defined sequence.  Example: Refer the figure –  STUD_NO, as well as STUD_PHONE both, are candidate keys for relation STUDENT but STUD_NO can be chosen as the primary key (only one out of many candidate keys).

## Foreign Key: A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables. It is a column (or columns) that references a column (most often the primary key) of another table.  Example: Refer the figure – STUD_NO in STUDENT_COURSE is a foreign key to STUD_NO in STUDENT relation.

# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [11]:
pip install mysql-connector

Requirement already satisfied: mysql-connector in c:\users\risha\anaconda3\lib\site-packages (2.2.9)
Note: you may need to restart the kernel to use updated packages.

In [12]:
import mysql.connector
db_connection = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="root"
)
print(db_connection)

InterfaceError: 2003: Can't connect to MySQL server on 'localhost:3306' (10061 No connection could be made because the target machine actively refused it)

## execute()method:
## This method executes the given database operation (query or command). The parameters found in the tuple or dictionary params are bound to the variables in the operation. Specify variables using %s or %(name)s parameter style (that is, using format or pyformat style). execute() returns an iterator if multi is True.

## cursor()method
## The cursor method allows us to iterate through our database using a cursor, which will only execute a single query. While processing large amounts of data, the cursor method may be used to reduce your memory usage greatly.

# Q7. Give the order of execution of SQL clauses in an SQL query.

"""
Order of Execution
SQL queries adhere to a specific order when evaluating clauses, similar to how mathematical operations adhere to PEMDAS or BIDMAS.

From the eyes of the user, queries begin from the first clause and end at the last clause. However, queries aren’t actually read from top to bottom when carried out.

The order in which the clauses in queries are executed is as follows:

1. FROM/JOIN: The FROM and/or JOIN clauses are executed first to determine the data of interest.

2. WHERE: The WHERE clause is executed to filter out records that do not meet the constraints.

3. GROUP BY: The GROUP BY clause is executed to group the data based on the values in one or more columns.

4. HAVING: The HAVING clause is executed to remove the created grouped records that don’t meet the constraints.

5. SELECT: The SELECT clause is executed to derive all desired columns and expressions.

6. ORDER BY: The ORDER BY clause is executed to sort the derived values in ascending or descending order.

7. LIMIT/OFFSET: Finally, the LIMIT and/or OFFSET clauses are executed to keep or skip a specified number of rows.

"""